yfinance>=0.2.65
seaborn>=0.13.2
matplotlib>=3.10.5
statsmodels>=0.14.5
scikit-learn>=1.7.1
numba>=0.61.2
py_vollib_vectorized>=0.1.1
financepy>=0.360
pandarallel>=1.6.5
tastytrade>=10.2.3
notebook>=7.4.5
tqdm>=4.67.1